.app-container{
  display: flex;
}
.app-container .app-body{
  width: 80%;
}

.app-container .app-sidebar{
  width: 20%;
  position: relative;
}
.inner-body-wrapper{
  padding: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.custom-card{
  width: 32%;
}

.custom-sidebar{
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 20%;
  z-index: 9;
}

.card{
  margin-bottom: 15px;
}

.custom-tags{
  margin:0 4px 0 0;
}

.reactions{
  margin-top: 10px;
}


.custom-badge{
  cursor: pointer;
}

.create-post{
  width: 100%;
}